<h1>Places I've Been</h1>

<p>
  <% for place in @places %>
    <p>
      <a href="/places/<%= place["id"] %>">
        <%= place["name"] %>
      </a>
    </p>
  <% end %>
</p>

<br>

<p>
<strong><a href="/places/new">New Place</a></strong>
</p>
